<div class="container-fluid  m-3">
  <div class="row mt-3">
    <carousel class="col-12 bg-danger">
      <slide>
        <img src="/assets/demo/1.jpeg">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
      <slide>
        <img src="/assets/demo/2.jpeg">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </slide>
      <slide>
        <img src="/assets/demo/3.jpeg">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>
<div class="container-fluid m-3">
  <div class="row ">
    <ol class="breadcrumb col-lg-12">
      <li class="breadcrumb-item active">Home</li>
    </ol>
    <div class="col-lg-2 index-item">1212312</div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item">1212312</div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
  </div>
</div>
<div class="container-fluid m-3">
  <div class="row ">
    <ol class="breadcrumb col-12">
      <li class="breadcrumb-item active">Home</li>
    </ol>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
    <div class="col-lg-2 index-item"></div>
  </div>
</div>

<div class="container-fluid" id="list1">
  <div class="row">
    <div class="col-12" style="height: 15rem;background-color: gainsboro">

    </div>
  </div>
</div>
