/* line 1, rout-notfound.component.scss */
.notfound {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
/* line 9, rout-notfound.component.scss */
.notfound .jumbotron {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}
/* line 11, rout-notfound.component.scss */
.notfound .jumbotron h1 {
  font-size: 10rem;
}
